<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    adminn

    <a href="/register">Register</a>

    
<td>

<button><a href="/update">update</a></button>

</td>

<td>
    <button>
    <a href="/delete">delete</a>
  
    </button>


   <a href="/logout"> <button>
        logout
    </button></a>
</td>
</body>
</html>