<!DOCTYPE html>
<html>
<head>
<title> REGISTER </title>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}
</style>
</head>








<body bgcolor="pink">
<h1 align="center"><b>delete</b></h1>
<form action="/delete" method="POST">
<table align="center">
<tr>
<td><label>Username:</label></td>
<td><input type="text" placeholder="Username" name="txtname"></td>
</tr>



<tr>
<td>
<input type="submit" name="btnsubmit" value="submit" ></td>
<td>
    <button>
    <a href="/register">Register</a>
  
    </button>
      <a href="/logout"> <button>
        logout
    </button></a>
</td>
</tr>
<tr>
</table>
</form>
</body>
</html>
